* {
  list-style: none;
  box-sizing: border-box;
}

body {
  padding: 30px;
}

.form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input {
  width: 400px;
  padding-left: 10px;
  margin-right: 5px;
  border: 1px solid rgb(158, 154, 154);
  border-radius: 5px;
  font-size: 23px;
  color: rgb(141, 141, 141);
}

.input:valid {
  border: 1px solid green;
}

.input:invalid {
  border: 1px solid red;
}

.button {
  background-color: rgb(98, 141, 201);
  padding: 10px 28px;
  border: 0px;
  border-radius: 5px;
  font-size: 23px;
  color: beige;
}

.button:hover {
  background-color: rgb(77, 124, 189);
  cursor: pointer;
}

#cards {
  display: flex;
  flex-wrap: wrap;
}

.item {
  position: relative;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  margin: 0px 15px 15px 0px;
  width: 400px;
}

.item:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.remove {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 355px;
  padding: 1px 7px;
  border: 0px;
  border-radius: 5px;
  font-size: 19px;
  color: #fff;
}

.remove:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}

.item:hover > .remove {
  display: block;
}

.link {
  text-decoration: none;
  color: #333;
}

.img {
  width: 100%;
}

.spinners {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.2);
}

.spinners.visible {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ff8040,
      1.8em -1.8em 0 0em rgba(255, 128, 64, 0.2),
      2.5em 0em 0 0em rgba(255, 128, 64, 0.2),
      1.75em 1.75em 0 0em rgba(255, 128, 64, 0.2),
      0em 2.5em 0 0em rgba(255, 128, 64, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 128, 64, 0.2),
      -2.6em 0em 0 0em rgba(255, 128, 64, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 128, 64, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 128, 64, 0.7),
      1.8em -1.8em 0 0em #ff8040, 2.5em 0em 0 0em rgba(255, 128, 64, 0.2),
      1.75em 1.75em 0 0em rgba(255, 128, 64, 0.2),
      0em 2.5em 0 0em rgba(255, 128, 64, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 128, 64, 0.2),
      -2.6em 0em 0 0em rgba(255, 128, 64, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 128, 64, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 128, 64, 0.5),
      1.8em -1.8em 0 0em rgba(255, 128, 64, 0.7), 2.5em 0em 0 0em #ff8040,
      1.75em 1.75em 0 0em rgba(255, 128, 64, 0.2),
      0em 2.5em 0 0em rgba(255, 128, 64, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 128, 64, 0.2),
      -2.6em 0em 0 0em rgba(255, 128, 64, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 128, 64, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 128, 64, 0.2),
      1.8em -1.8em 0 0em rgba(255, 128, 64, 0.5),
      2.5em 0em 0 0em rgba(255, 128, 64, 0.7), 1.75em 1.75em 0 0em #ff8040,
      0em 2.5em 0 0em rgba(255, 128, 64, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 128, 64, 0.2),
      -2.6em 0em 0 0em rgba(255, 128, 64, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 128, 64, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 128, 64, 0.2),
      1.8em -1.8em 0 0em rgba(255, 128, 64, 0.2),
      2.5em 0em 0 0em rgba(255, 128, 64, 0.5),
      1.75em 1.75em 0 0em rgba(255, 128, 64, 0.7), 0em 2.5em 0 0em #ff8040,
      -1.8em 1.8em 0 0em rgba(255, 128, 64, 0.2),
      -2.6em 0em 0 0em rgba(255, 128, 64, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 128, 64, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 128, 64, 0.2),
      1.8em -1.8em 0 0em rgba(255, 128, 64, 0.2),
      2.5em 0em 0 0em rgba(255, 128, 64, 0.2),
      1.75em 1.75em 0 0em rgba(255, 128, 64, 0.5),
      0em 2.5em 0 0em rgba(255, 128, 64, 0.7), -1.8em 1.8em 0 0em #ff8040,
      -2.6em 0em 0 0em rgba(255, 128, 64, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 128, 64, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 128, 64, 0.2),
      1.8em -1.8em 0 0em rgba(255, 128, 64, 0.2),
      2.5em 0em 0 0em rgba(255, 128, 64, 0.2),
      1.75em 1.75em 0 0em rgba(255, 128, 64, 0.2),
      0em 2.5em 0 0em rgba(255, 128, 64, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 128, 64, 0.7), -2.6em 0em 0 0em #ff8040,
      -1.8em -1.8em 0 0em rgba(255, 128, 64, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 128, 64, 0.2),
      1.8em -1.8em 0 0em rgba(255, 128, 64, 0.2),
      2.5em 0em 0 0em rgba(255, 128, 64, 0.2),
      1.75em 1.75em 0 0em rgba(255, 128, 64, 0.2),
      0em 2.5em 0 0em rgba(255, 128, 64, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 128, 64, 0.5),
      -2.6em 0em 0 0em rgba(255, 128, 64, 0.7), -1.8em -1.8em 0 0em #ff8040;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ff8040,
      1.8em -1.8em 0 0em rgba(255, 128, 64, 0.2),
      2.5em 0em 0 0em rgba(255, 128, 64, 0.2),
      1.75em 1.75em 0 0em rgba(255, 128, 64, 0.2),
      0em 2.5em 0 0em rgba(255, 128, 64, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 128, 64, 0.2),
      -2.6em 0em 0 0em rgba(255, 128, 64, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 128, 64, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 128, 64, 0.7),
      1.8em -1.8em 0 0em #ff8040, 2.5em 0em 0 0em rgba(255, 128, 64, 0.2),
      1.75em 1.75em 0 0em rgba(255, 128, 64, 0.2),
      0em 2.5em 0 0em rgba(255, 128, 64, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 128, 64, 0.2),
      -2.6em 0em 0 0em rgba(255, 128, 64, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 128, 64, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 128, 64, 0.5),
      1.8em -1.8em 0 0em rgba(255, 128, 64, 0.7), 2.5em 0em 0 0em #ff8040,
      1.75em 1.75em 0 0em rgba(255, 128, 64, 0.2),
      0em 2.5em 0 0em rgba(255, 128, 64, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 128, 64, 0.2),
      -2.6em 0em 0 0em rgba(255, 128, 64, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 128, 64, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 128, 64, 0.2),
      1.8em -1.8em 0 0em rgba(255, 128, 64, 0.5),
      2.5em 0em 0 0em rgba(255, 128, 64, 0.7), 1.75em 1.75em 0 0em #ff8040,
      0em 2.5em 0 0em rgba(255, 128, 64, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 128, 64, 0.2),
      -2.6em 0em 0 0em rgba(255, 128, 64, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 128, 64, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 128, 64, 0.2),
      1.8em -1.8em 0 0em rgba(255, 128, 64, 0.2),
      2.5em 0em 0 0em rgba(255, 128, 64, 0.5),
      1.75em 1.75em 0 0em rgba(255, 128, 64, 0.7), 0em 2.5em 0 0em #ff8040,
      -1.8em 1.8em 0 0em rgba(255, 128, 64, 0.2),
      -2.6em 0em 0 0em rgba(255, 128, 64, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 128, 64, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 128, 64, 0.2),
      1.8em -1.8em 0 0em rgba(255, 128, 64, 0.2),
      2.5em 0em 0 0em rgba(255, 128, 64, 0.2),
      1.75em 1.75em 0 0em rgba(255, 128, 64, 0.5),
      0em 2.5em 0 0em rgba(255, 128, 64, 0.7), -1.8em 1.8em 0 0em #ff8040,
      -2.6em 0em 0 0em rgba(255, 128, 64, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 128, 64, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 128, 64, 0.2),
      1.8em -1.8em 0 0em rgba(255, 128, 64, 0.2),
      2.5em 0em 0 0em rgba(255, 128, 64, 0.2),
      1.75em 1.75em 0 0em rgba(255, 128, 64, 0.2),
      0em 2.5em 0 0em rgba(255, 128, 64, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 128, 64, 0.7), -2.6em 0em 0 0em #ff8040,
      -1.8em -1.8em 0 0em rgba(255, 128, 64, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 128, 64, 0.2),
      1.8em -1.8em 0 0em rgba(255, 128, 64, 0.2),
      2.5em 0em 0 0em rgba(255, 128, 64, 0.2),
      1.75em 1.75em 0 0em rgba(255, 128, 64, 0.2),
      0em 2.5em 0 0em rgba(255, 128, 64, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 128, 64, 0.5),
      -2.6em 0em 0 0em rgba(255, 128, 64, 0.7), -1.8em -1.8em 0 0em #ff8040;
  }
}
