* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.wrapper {
    min-height: 100vh;
    max-width: 1600px;
    margin: auto;
}

/* HEADER */
.nav {
    position: relative;
    max-width: 1110px;
    padding: 38px 0px 32px 0px;
    margin: auto;
}

.logo {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; 
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #555252; 
}

.logo:first-letter {
    font-weight: 900;
    color: #1abc9c;
}

.menu {
    position: absolute;
    display: inline-block;
    right: 0px;
    bottom: 38px;
    margin-left: 80px;
    font-size: 0px;
}

.menu-item {
    display: inline-block;

}

.menu-link {
    display: inline-block;
    padding: 0px 17px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #0f0101;
}

.ml6 {
    padding-right: 0px;
}


.menu-link:hover {
    color: #1abc9c;
}


/* SLIDER */
.slider {
    position: relative;
    background-color: #323232;
}

.slide {
    max-width: 100%;
}

.slider-bg {
    position: absolute;
    top: 0px;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .52);
}

.title-button {
    padding-top: 14%;
}

.slide-title {
    margin: auto;
    max-width: 754px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 3.75rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
}

.categories {
    font-size: 24px;
    font-weight: 300;
}

.slide-title:before {
    content: '';
    position: absolute;
    left: -178px;
    top: 30px;
    display: inline-block;
    width: 104px;
    height: 104px;
    background: rgba(26, 188, 156, .65);
    background-image: url(../img/arrow2.png);
    background-repeat: no-repeat;
    background-position: center;
}

.slide-title:after {
    content: '';
    background-image: url(../img/arrow1.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: -178px;
    top: 30px;
    display: inline-block;
    width: 104px;
    height: 104px;
    background-color: #1abc9c;
}


/* COLLECTION */
.collection {
    max-width: 100%;
    position: relative;
    padding: 102px 0px 90px 0px;
    background-color: #e9f0fd;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    color: #515151;
    margin-bottom: 31px;
}

.rectangle {
    display:  block;
    margin: auto;
    margin-bottom: 80px;
}

.figure-foto1 {
    text-align: center;
    
}

.figure-foto {
    position: relative;
    display: inline-block;
    margin: 0px 13px 10px;
}


.figure-foto:last-of-type {
    margin-right: 0px;
}

.figure-foto:first-of-type {
    margin-left: 0px;
}

.text-fg {
    width: 201px;
    position: absolute;
    bottom: 3px;
    padding: 9px 0px 9px 13px;
    background-color: #323232;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
    color: #fff;
}

.figure-foto:hover .text-fg {
    background-color: #1abc9c;
}

.number {
    width: 54px;
    position: absolute;
    padding: 9px 12px 9px;
    right: -54px;
    bottom: 0px;
    background: rgba(50, 50, 50, .44);
}

.figure-foto:hover .number {
    background-color: #7fd9c7;
}


.collection-hover {
    position: absolute;
    width: 235px;
    height: 261px;
    background: rgba(0, 0, 0, 0.55);
    display: none;
    margin: 11px 10px;
    top: 0px;
} 

.figure-foto:hover > .collection-hover {
    display: block;
}

.icon1 {
    position: absolute;
    width: 164px;
    left: 35px;
    top: 79px;
}

.icon {
    border: 1px solid #fff;
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-right: 6px;
    background-repeat: no-repeat;
    background-position: center; 
}

.red {
    background-image: url(../img/ico2.png);
   
}

.flo {
    background-image: url(../img/ico3.png);
}

.end {
    background-image: url(../img/ico4.png);
}

.icon:nth-last-child(2) {
    margin-right: -4px;
}

.icon:hover {
    background-color: #1abc9c;
    border: 1px solid transparent;
}


 .cart {
    background-image: url(../img/ico1.png);
    background-color: #323232;
    display: inline-block;
    margin-top: 7px;
    border-right: 0px;
}

.icon-ct:hover > .cart {
    background-color: #1abc9c;
    border: 1px solid transparent;
    border-right: 0px;
}

.icon-text {
    display: inline-block;
    border: 1px solid #fff;
    border-left: 0px;
    width: 116px;
    height: 48px;
    vertical-align: top;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 48px;
    margin-top: 7px;
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

.icon-ct:hover > .icon-text  {
    background-color: #1abc9c;
    border: 1px solid transparent;
    border-left: 0px; 
}


/* FOOTER */
footer {
    background-color: #323232;
    text-align: center;
    line-height: 88px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fefefe;
}

footer span {
    color: #46bfa9;
}